ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}
html {
    width: 1900px;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1900px;
}
.header_main {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    height: 70px;
}
.header_menu {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.header_menu_item {
    margin: 0 35px;
    padding: 28px 0 26px;
}
.header_menu_link {
    color: white;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}
.header_menu_link:hover {
    color: #14B9D5;;
}
.logo_header {
    display: flex;
    align-items: center;
}
.logo_img {
    margin: auto 21px auto 27px;
    vertical-align: middle;
}
.logo {
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin: 22px 0;
    font-weight: bold;
    vertical-align: middle;
}
.img_loupe {
    background-color: #000000;
    width: 68px;
    height: 70px;
}
.loupe {
    cursor: pointer;
    padding: 27px 25px 26px 26px;
}
.header_content {
    margin-top: 0;
    min-height: 369px;
    background-size: cover;
    background-position-y: ;
    background: 
    url(../img/background1.jpeg) center;
}
.galery_content {
    background-color: #F2F2F2;
}
.header_title {
    padding-top: 164px;
    font-size: 27px;
    line-height: 37px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
}
.header_title_links {
    display: flex;
    justify-content: center;
}
.header_links {
    padding: 16px 0 17px;
    width: 170px;
    border-radius: 5px;
    margin: 44px 10px 10px;
    font-weight: 600;
    font-size: 18px;
    color: white;
    text-align: center;
}
.first_link {
    background: #89ca62;  
}
.second_link {
    background: #14b9d5;
}
.popular {
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
    margin-top: 0;
    padding-top: 49px;
}
.galery_main {
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.galery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 950px;
    align-content: space-between;
}
.galery_item {
    margin: 30px 30px;
    background-color: #fff;
}
.galery_title {
    color: #353A3D;
    text-align: center;
}
.body_content {
    min-height: 588px;
    background: url(../img/background2.jpeg) no-repeat fixed center;
    background-size: cover;
}
.clients {
    text-align: center;
    text-transform: uppercase;
    padding-top: 106px;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    margin-top: 0;
}
.clients::after {
    display: block;
    content: "";
    border-bottom: 3px solid #18B4CF;
    width: 60px;
    margin: 87px auto 106px;
}
.content_lists {
    display: flex;
    justify-content: center;
}
.content_lists_item {
    margin: 0 50px;
}
.top {
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    padding: 51px 0 52px;
    margin-top: 0;
    margin-bottom: 0;
}
.posts {
    display: grid;
    grid-auto-flow: column;
}
.posts_img {
    height: 190px;
    width: 271px;
}
.news {
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    padding: 48px 0 51px;
    margin-top: 0;
    margin-bottom: 0;
}
.posts_news {
    max-width: 1168px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 71px;
}
.post_news_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 259px 418px 418px 259px; */
    grid-column-gap: 60px;
    grid-row-gap: 43px;
    grid-template-areas: 
    "news1 news1 news1 news2"
    "news3 news3 news4 news4"
    "news5 news5 news6 news6"
    "news7 news8 news8 news8";
}
.news1 {
    grid-area: news1;
    margin-right: -25px;
}
.news2 {
    grid-area: news2;
}
.news3 {
    grid-area: news3;
}
.news4 {
    grid-area: news4;
}
.news5 {
    grid-area: news5;
}
.news6 {
    grid-area: news6;
}
.news7 {
    grid-area: news7;
    margin-right: -25px;
}
.news8 {
    grid-area: news8;
}
.posts_news_item {
    background-color: #F9F7F7;;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.posts_news_title {
    color: #353A3D;
    text-align: right;
    margin: 0;
}
.posts_news_text {
    text-align: right;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    margin: 0;
}
.img1 {
    float: left;
}
.img8 {
    float: left;
}
.title1, .title8{
    padding: 41px 24px 14px 0;  
}
.title2, .title7 {
    text-align: center;
    padding: 14px 0 11px;
}
.title3, .title4, .title5, .title6 {
    padding: 14px 27px 15px;
}
.text1, .text8 {
    padding-right: 24px;
}
.text3, .text4, .text5, .text6 {
    padding: 0 13px 1px 13px;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    margin-top: 6px;
}
.footer_text {
    color: #FFFFFF;
    padding: 29px 0 30px 367px;
    font-size: 13px;
    line-height: 13px;
}
.footer_img {
    padding-top: 29px;
}
