ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: Roboto;
}
.container {
    margin: 0 99px 0 98px;
    max-width: 1280;
}
.header {
    margin-bottom: 50px;
}
.logo {
    display: block;
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 50px;
    margin-top: 61px;
}
.logo span {
    color: #4BCAFF;
}
.menu {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    align-items: center;
}
.menu_link {
    color: #ffffff;
}
.menu_item {
    padding: 26px 38px 19px;
    border-left: 1px solid white;  
}
.menu_item:hover {
    background-color: #222F3A;
}
.content_nav {
    width: 344px;
    margin-right: 52px;
}
.menu_content {
    border: 1px solid #000000;
    width: 344px;
    text-justify: left;
}
.content_menu_item {
    padding-left: 42px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.content_menu_link {
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}
.content_menu_item:hover {
    background-color: #DBDBDB;
}
.content_menu_link:hover {
    color: #35444F;
}
.content {
    width: 885px;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 54px;
}
.main_img {
    border: 1px solid #000000;
    width: 885px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 37px;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(99, 105, 110, 0.48);
    padding-left: 40px;
    margin-bottom: 30px;
}
.footer_main {
    display: flex;
}
.menu_footer {
    display: flex;
}
.footer_menu_item {
    display: inline-block;
    margin-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.footer_menu_link:hover {
    text-decoration: underline;
    color: lightskyblue;
}
.copyriht {
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}