body {
    font-size: 16px;
    background-color: aqua;
    display: flex;
}
span {
    font-size: 20px;
    @media (max-width: 767px) {
        font-size: 15px;
    }
}
div {
    background: url(../img/posts_news2.png) 0 0 repeat;
    font-size: 30px;
    @media (max-width: 767px) {
        font-size: 20px;
    }
}