ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: Montserrat;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.header {
    padding: 31.5px 0 ;
}
.header_main {
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu {
    display: flex;
    text-transform: uppercase;
    text-align: center;   
}
.menu_item {
    margin: 0 72px;
}
.menu_link {
    color: red;
    font-size: 18px;
    line-height: 18px;
    line-height: 82%;
    top: -6px;
    text-decoration: none;
    font-weight: bold;
}
.post_title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 27px;
    line-height: 100%;
    letter-spacing: 3.3px;
    margin: 48px 0 38px;
    font-weight: bold;
}
.main {
    text-align: center;
    line-height: 26px;
    line-height: 133%;
    letter-spacing: 2.4px;
    margin: 0 67,5px 0 67,5px;
}
.buttom {
    color: white;
    background: #ff0000;
    text-transform: uppercase;
    display: block;
    text-align: center;
    width: 191px;
    height: 51px;
    letter-spacing: 1.8px;
    border-radius: 7px;
    font-size: 12px;
    line-height: 12px;
    margin: 66px auto 42px;
}
.footer {
    margin: 40px 0 29px;
    font-weight: bolder;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 2.4px;
}