ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #ffffff;
}
html {
    max-width: 1349px;
}
.container {
    max-width: 1349px;
    margin: 0 auto;
}
body {
    background: #453D2C url(../img/background.png) no-repeat fixed;
    background-size: cover;
}
.page-header {
    display: flex;
    justify-content: space-between;
    margin: 46px 177px 17px 166px;
}
.logo_img {
    background: url(../img/logo.svg);
    width: 53px;
    height: 47px;
}
.header_logo {
    display: flex;
    position: relative;
}
.logo_text {
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    padding-left: 8px;
}
.logo_milan {
    font-size: 29px;
}
.contacts {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 18px;
    justify-content: flex-end;
    align-items: flex-end; 
}
.contacts_mail {
    padding-bottom: 19px;
}
.contacts_mail:hover, .contacts_tel:hover, .logo_text:hover{
    color: #F26522;
}





.container_content {
    max-width: 1020px;
    margin: 22px auto 49px;
}
.main_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 37px;
}
.item_title {
    text-align: center;
    color: #ffffff;
}
.card_img .details {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 165px; 
    background-color: #F26522;
    visibility: hidden;
    opacity: 0;
    transition: opacity .27s;
    box-sizing: border-box;
    padding: 0 20px;
}